/*initial state make sure to define*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  section * {
      margin: 0;
  }
  
  nav * {
    margin: 0;
  }
  
  /*navigation bar definitons*/
  nav  {
      margin: 0;
      position: fixed;
      top:0;
      background-color: #593F62;
      height: 50px;
      width: 100%;
      font-size: 20px;
      display: flex;
      justify-content: flex-end;
      border-bottom: none;
      z-index: 1;    
  }
  nav ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 35%;
      min-width: 50px;
      padding: 0;
  }
    
  ul li {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: calc(100% / 3);
      cursor: pointer;
      transition: 0s ease-in-out;
    
  }
  nav ul a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav ul a {
      text-decoration: none;
      color: black;
      font-weight: 700;
      
     
    
  }
  
  ul li:hover{
      background-color: rgba(132, 153, 177, 1);
  
      
    
  }
  
  /*General section definitions*/  
  section h1 {
      font-size: 50px;
      color: black;
      opacity: 1;
  }
    
  #welcome-section p, #footer p {
      font-size: 25px;
      font-weight: 400;
      font-style: italic;
      margin-top: 13px;
      color: #593F62;
  }
  
  
  /*First section*/
  #welcome-section {
      height: 100vh;
      background-color: rgba(123, 109, 141,0.3);
      opacity: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;  
  }
  
  
  /*Second section*/
  #projects {
    background-color: rgb(132, 153, 177);
    padding: 0;
    margin: 0;
    height: fit-content;
    min-height: 100vh;
    padding: 3%;
    padding-top: 7%;
    padding-bottom: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #projects h2 {
    margin-bottom: 2%;
    text-decoration: underline;
  }
  #projects .second-sec-block {
    width: 100%;
    max-width: 1200px;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2%;
  }
  #projects div .project-block {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 2%;
    border-radius: 5px;
  
    position: relative;
  }
  
  img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 6px 10px #593F62;
  
  }
  
  #projects div .project-block p {
    text-align: center;
    background-color: rgb(132, 153, 177, 1);
    width: 100%;
    position: relative;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 0 10px 10px;
    bottom: 30px;
    cursor: pointer;
    font-weight: 550;
    font-size: 19px;
  }
  
  #projects div .project-block p:hover::before{
    content: '<';
    position: absolute;
    left: 41%;
    color: #593F62;
    font-weight: 700;
    
    
  }
  
  #projects div .project-block p:hover::after{
    content: '/>';
    position: absolute;
    color: #593F62;
    font-weight: 700;
    left: 56%;
  }
  
  #projects div .project-block p:hover{ 
  }
  
  
  #projects button {
    font-size: 20px;
    border-radius: 5px;
    color: black;
    padding: 1%;
    border: 2px solid #593F62;
    cursor: pointer;
    box-shadow: 5px 6px 10px #593F62;
    background-color: rgba(60, 63, 66, 0.2);
  }
  
  #projects button:hover{
    background-color: rgba(33, 35, 36, 0.3);  
  }
  
  #projects button:hover span{
    color:#593F62;
    font-weight: 700;  
  }
  
  
  
  
  /*last section*/ 
  #footer {
      height: 100vh;
      width: 100%;
      background-color: #ADC9D8;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  
  #footer p {
      font-style: italic;
  
  
  }
  
  #footer .social-logos{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 25px;
    max-width: 1000px;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 20px;
  }
  #footer .social-logos span {
    font-size: 13px;
    vertical-align: middle;
  }
  #footer .social-logos a {
    color: black;
    text-decoration: none;
  }
  
  i {
    font-size: 30px;
    transition: transform .5s;
    cursor: pointer;
  
  }
  i:hover{
    transform: translateY(10px);
  }
  
  
  
  #footer .main-footer {
      height: 80px;
      background-color: #ADC9D8;
      width: 100%;
      position: relative;
      top: 45%;
      transform: translateY(-50%);
      border-top: 1px solid #593F62;
  
  }
  
  #footer .main-footer  {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
  }
  
  
  /*real footer bar*/
  #footer .main-footer p {
      font-style: normal;
      font-size: 13px;
  }
  
  #footer .main-footer p:nth-of-type(1) {
      padding-left: 10px;
  }
  
  #footer .main-footer p:nth-of-type(2) {
      padding-right: 10px;
  }
  
  
  /*************************************************************************************
  *************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
  @media only screen and (max-width: 900px)
  {
    #projects {
      height: fit-content;
      padding: 5%;
    }
  }
  
  /*for smartphones*/
  @media only screen and (max-width: 750px)
  {
  /*nav section*/
  nav  {
    height: 100px;
    width: 100vw;
  }
  nav ul {
    width: 100vw;
    flex-direction: column;
  }
  
  ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  
  /*General section definitions*/  
  section h1 {
          font-size: 30px;
  }
  
  section p {
          font-size: 14px;
  }
  
  nav {
          font-size: 14px;      
  }
  
  
  #projects {
    height: fit-content;
    padding: 5%;;
  }
  
  .project-block a {
    color: black;
    text-decoration: none;
  }
        
  /*footer section*/
  
  #footer .main-footer  {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
  }
  
  /*real footer bar*/
  #footer .main-footer {
   display: flex;
   flex-direction: column; 
   flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: space-evenly;
  }
  
  
  }