@use 'fonts';
@use 'sizes';
@use 'colors';
*, *::after, *::before {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-size: fonts.$fontsize;
    font-family: fonts.$fontfamily;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(./../assets/bg-header-mobile.png);

    @media screen and (min-width: sizes.$desktopWidth){
        background-image: url(./../assets/bg-header-desktop.png);
        
    }

    p 
    {
    color: colors.$lightgrey;
    font-size: 14px;
    line-height: 1.8;

    @media screen and (min-width: sizes.$desktopWidth) {
        font-size: 18px;    
    }
    }

    h1.title {
        color: colors.$darkgrey;
        font-size: 26px;      
        text-align: center;
        @media screen and (min-width: sizes.$desktopWidth) {
            font-size: 32px;    
        }
    }
    h2.title {
        color: colors.$darkgrey;
        font-size: 23px;      
        text-align: center;  
        @media screen and (min-width: sizes.$desktopWidth) {
            font-size: 23px;    
        }

    }
    h3 {
        color: colors.$darkgrey;
        font-size: 19px;      
        text-align: center;
        @media screen and (min-width: sizes.$desktopWidth) {
            font-size: 21px;    
        }


    }
}
