*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(./../assets/bg-header-mobile.png);
}
@media screen and (min-width: 1440px) {
  body {
    background-image: url(./../assets/bg-header-desktop.png);
  }
}
body p {
  color: hsl(201deg, 11%, 66%);
  font-size: 14px;
  line-height: 1.8;
}
@media screen and (min-width: 1440px) {
  body p {
    font-size: 18px;
  }
}
body h1.title {
  color: hsl(210deg, 10%, 33%);
  font-size: 26px;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  body h1.title {
    font-size: 32px;
  }
}
body h2.title {
  color: hsl(210deg, 10%, 33%);
  font-size: 23px;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  body h2.title {
    font-size: 23px;
  }
}
body h3 {
  color: hsl(210deg, 10%, 33%);
  font-size: 19px;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  body h3 {
    font-size: 21px;
  }
}

header {
  margin-top: 100px;
  font-family: "Bai Jamjuree", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}
header .icon {
  width: 80px;
  height: 80px;
  background-image: url(./../assets/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1440px) {
  header .icon {
    width: 100px;
    height: 100px;
  }
}
header p {
  margin: 0 10px;
  max-width: 650px;
  text-align: center;
}
header .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 9px;
  column-gap: 15px;
  row-gap: 20px;
}
header .buttons button {
  border-radius: 30px;
  color: white;
  width: 300px;
  height: 50px;
  cursor: pointer;
}
header .buttons button:hover {
  transform: scale(105%);
}
@media screen and (min-width: 1440px) {
  header .buttons button {
    width: 220px;
  }
}
header .buttons button.green {
  background-color: hsl(171deg, 66%, 44%);
  border: 1px solid hsl(171deg, 66%, 44%);
  box-shadow: 1px 4px 2px #23a995;
}
header .buttons button.blue {
  background-color: hsl(233deg, 100%, 69%);
  border: 1px solid hsl(233deg, 100%, 69%);
  box-shadow: 1px 4px 2px #4d61ff;
}

.keeptrack {
  margin-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.keeptrack h2 {
  margin-bottom: 40px;
}
.keeptrack p {
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
  padding: 10px;
}
.keeptrack .options {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media screen and (min-width: 1440px) {
  .keeptrack .options {
    position: relative;
    left: -70px;
  }
}
.keeptrack .options .pic {
  background-image: url(./../assets/image-computer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  width: 350px;
  height: 452px;
}
@media screen and (min-width: 1440px) {
  .keeptrack .options .pic {
    margin: unset;
    width: 900px;
    height: 600px;
  }
}
.keeptrack .options .points {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
}
@media screen and (min-width: 1440px) {
  .keeptrack .options .points {
    margin: unset;
    margin-left: 70px;
    padding-left: 0px;
  }
}
.keeptrack .options .points .point h3 {
  margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .keeptrack .options .points .point h3 {
    text-align: left;
  }
}
.keeptrack .options .points .point p {
  max-width: 350px;
}
@media screen and (min-width: 1440px) {
  .keeptrack .options .points .point p {
    text-align: left;
    padding: 0;
  }
}

.accessclip {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accessclip p {
  text-align: center;
  margin-top: 40px;
  max-width: 700px;
}
.accessclip .pic {
  margin-top: 90px;
  background-image: url(./../assets/image-devices.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 295px;
  height: 185px;
}
@media screen and (min-width: 1440px) {
  .accessclip .pic {
    width: 570px;
    height: 365px;
  }
}

.superchange {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.superchange .title {
  margin-bottom: 20px;
}
.superchange > p {
  text-align: center;
  margin-bottom: 80px;
}
.superchange .options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 50px;
  margin: 0 90px 150px 90px;
}
.superchange .options .option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.superchange .options .option img {
  margin: 0 auto;
  margin-bottom: 20px;
}
.superchange .options .option p {
  max-width: 370px;
  text-align: center;
}
.superchange .options .option:nth-of-type(1) {
  position: relative;
  top: -8px;
}
.superchange .companies {
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px;
  row-gap: 60px;
  column-gap: 20px;
  justify-content: space-around;
}
@media screen and (min-width: 1440px) {
  .superchange .companies {
    margin: 0 80px;
  }
}
.superchange .companies img {
  width: auto;
  height: 40px;
}

.clipboard {
  margin-top: 140px;
}
.clipboard .title {
  margin-bottom: 20px;
}
.clipboard p {
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.clipboard .buttons {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  row-gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 150px;
}
.clipboard .buttons button {
  border-radius: 30px;
  color: white;
  width: 300px;
  height: 50px;
  cursor: pointer;
}
.clipboard .buttons button:hover {
  transform: scale(105%);
}
@media screen and (min-width: 1440px) {
  .clipboard .buttons button {
    width: 220px;
  }
}
.clipboard .buttons button.green {
  background-color: hsl(171deg, 66%, 44%);
  border: 1px solid hsl(171deg, 66%, 44%);
  box-shadow: 1px 4px 2px #23a995;
}
.clipboard .buttons button.blue {
  background-color: hsl(233deg, 100%, 69%);
  border: 1px solid hsl(233deg, 100%, 69%);
  box-shadow: 1px 4px 2px #4d61ff;
}

footer {
  background-color: #e6e9eb;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1440px) {
  footer {
    flex-direction: row;
    padding: 20px 80px;
    justify-content: space-around;
  }
}
footer .logo {
  width: 40px;
  height: 40px;
  background-image: url(./../assets/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
footer .links p {
  color: hsl(210deg, 10%, 33%);
  text-align: center;
  cursor: pointer;
}
footer .links p:hover {
  color: hsl(171deg, 66%, 44%);
}
@media screen and (min-width: 1440px) {
  footer .links p {
    text-align: left;
  }
}
@media screen and (max-width: 1439px) {
  footer .links .link.first p:first-of-type, footer .links .link.second p:first-of-type {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1440px) {
  footer .links {
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    text-align: left;
    position: relative;
    left: -50px;
  }
}
footer .socials {
  display: flex;
  width: 140px;
  align-items: center;
  justify-content: space-around;
}
footer .socials i {
  cursor: pointer;
}
footer .socials i:hover {
  color: hsl(171deg, 66%, 44%);
}
