@import url('https://fonts.googleapis.com/css2?family=Forum&family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #717744;
  --secondaryColor: #BCBD8B;
}

body {
  margin-top: 5%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
background-image:
 linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
    url("https://images.pexels.com/photos/256502/pexels-photo-256502.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

}
h1, p {
  text-align: center;
  color: white;
  text-shadow: 0 0 3px #C3C9E9;;
}

p {
  margin-top: 1%;
  margin-bottom: 5%;
  font-style: italic;
}

form {
  width: 70vw;
  margin: 3% auto;
  min-width: 300px;
  max-width: 1000px;
  padding: 2%;
  background: linear-gradient(90deg, rgba(55, 63, 71,0.5),rgba(62, 73, 87,0.5));
  border-radius: 10px;
  border: 3px solid #3E4957;
  margin-top: 1%;
  padding-top:0;
  
}

label {
  display: block;
  width: 100%;
  margin: 5% 0;
}
input, select, textarea {
  display: block;
  font-size: 1.2rem;
  text-indent: 5px;
  min-height: 2rem;
  margin-top: 1.5%;
  width: 100%;
  padding: 4px 2px;
  border-radius: 5px;
  border: 1px solid #3E4957;
}

input[type="checkbox"], input[type="radio"]{
  display: inline-block;
  
}

input[type="radio"],input[type="checkbox"]  {
  margin:unset;
  vertical-align: text-bottom;
  width: unset;
  margin-right: 2%;
  margin-left: .4%;
  transform: scale(1.4);

}

.fieldset label{
  margin: 1% 0;
}

label:last.of-type {
  padding-bottom: 3%;
}


input[type="submit"]{
  background-color: green;
  cursor: pointer;
  color: white;

}
textarea:placeholder {
  font-family:'Open Sans', sans-serif;
}

