@use 'colors';
@use 'globals' as *;
@use 'reset';
@use 'colors' as *;

$widthDesgin: 600px;
$heightDesign: 800px;
$heightCellphone: 500px;
$widthCellphone: 250px;



.design {
    width: 600px;
    height: 800px;
    border-radius: 0 0 400px 400px;
    background: linear-gradient(colors.$lightMagenta, colors.$lightViolet);

    @media screen and (max-width: $mobileWidth) {
        height: 500px;
        position: relative;
        left: -400px;
        top: 0;
        
    }
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: block;
    position:fixed;
}
.opdesign {
    width: 600px;
    height: 800px;
    border-radius:400px 400px 0 0;
    background: linear-gradient(colors.$lightMagenta, colors.$lightViolet);
    opacity: 0.09;
    position: absolute;
    top: 250px;
    left:80%;
    
}

.container {
    position:absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 130px;
    align-items: center;
    flex-wrap: wrap;
    .cellphone {
        //   position: absolute;
        //   position: fixed;
        //   top: calc($heightDesign - $heightCellphone - 40px);
        //   left: calc($widthDesgin - 40px);
           height: $heightCellphone;
           width: $widthCellphone;
           border-radius: 30px;
           border: 10px solid white;
           z-index: 1;
           background-color: $lightGrayishViolet;//colors.$white;
           position: relative;
           box-shadow: 10px 15px 50px 0px rgb(146, 143, 143);
           .searchbar {
            position:absolute;
            top: 90%;
            left: 0;
            border-radius: 35px;
            width: 98%;
            height: 40px;
            background-color: $white;
            padding: 15px;
            font-size: 10px;
            color: $grayishBlue;
            .searcharrow {
                position: relative;
                left: 90%;
                top: -20px;
                width: 25px;
                height: 25px;
                background-color: $veryDarkDesaturatedViolet;
                border-radius: 50%;
                .linetop{
                    transform-origin: center;
                    width: 8px;
                    height: 3px;
                    position: relative;
                    left: 40%;
                    top: 35%;
                    transform: translateX(-50%);
                    background-color: $white;
                    transform: rotateZ(45deg)
                }
                .linebottom{
                    transform-origin: center;
                    width: 8px;
                    height: 3px;
                    position: relative;
                    left: 40%;
                    top: 40%;
                    transform: translateX(-50%);
                    background-color: $white;
                    transform: rotateZ(-45deg);
                }
            }
           }
           .chat {
            position: absolute;
            display: flex;
            flex-direction: column;
            height: 75%;
            width: 100%;
            background-color: $lightGrayishViolet;
            z-index: 4;
            padding-top: 5px;
            .chatbox {
                width: fit-content;
                margin-bottom: 8px;
                height: fit-content;
                border-radius: 6px;
                font-size: 8px;
                color:  $moderateViolet;
                padding: 6px ;


                &.text {
                    max-width: 135px;
                  
                }
                &.right {

                    &.text{
                        background-color: $white;
                    
                    }
                    float: right;
                    margin-right: 3px;
                    align-self: flex-end;
                    .pictures {
                        width: 135px;
                        height: 30px;
                        display: flex;
                        justify-content: space-evenly;
                        .pic {
                            width: 40px;
                            height: 100%;
                            border-radius: 10px;
                            background-color: red;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 10px;
                            }
                        }
                    }
                }
                &.left {
                    &.text{
                        background-color: hsl(277, 61%, 90%);
                    }
                    float: left;
                    margin-left: 3px;
                    align-self: flex-start;

                    .walk {
                        margin-bottom: -10px;
                        width: 160px;
                        height: 30px;
                        margin-left: -6px;
                        border-radius: 6px;
                        background: linear-gradient(to right, colors.$lightMagenta, colors.$lightViolet);
                        color: white;
                        display: grid;
                        grid-template-columns: 1fr 2fr 2fr;
                        align-items: center;
                        padding-right: 8px;
                        .circle {
                            display: inline-block;
                            margin: 0 auto;
                            justify-content: flex-end;
                            width: 10px;
                            height: 10px;
                            border: 0.5px solid white;
                            border-radius: 50%;
                        }
                        .description {
    
                        }
                        .price {
                            display: flex;
                            justify-content: flex-end;
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }



                }

            }

            }
           .nodge {
               position: absolute;
               top: -10px;
               transform: translateX(-50%);
               left: 50%;
               width: calc($widthCellphone - 0.5 * $widthCellphone);
               height: 25px;
               border-radius: 10px;
               background-color: white;
               z-index: 3;
           }

           .header {
            position: relative;
            height: 60px;
            width: $widthCellphone -20px;
            left: 0px;
            border-radius: 18px 18px 0 0;
            margin: 0 auto;
            background: linear-gradient(to left, colors.$lightMagenta, colors.$lightViolet);
            z-index: 0;
            .arrow {
                position: relative;
                top: 45%;
                left: 6%;
                width: 16px;
                height: 16px;
                .linetop {
                    width: 40%;
                    height: 10%;
                    background-color: white;
                    transform-origin: center;
                    transform: rotateZ(-45deg);
                    position: relative;
                    top: 25%;
                }
                .linebottom {
                    width: 40%;
                    height: 10%;
                    background-color: white;
                    position: relative;
                    transform-origin: center;
                    top: 42%;
                    transform: rotateZ(45deg);
                }
            }
            
            .picture {
                width: 23px;
                height: 23px;
                background-color: aliceblue;
                border: 1px solid white;
                position: relative;
                left: 20%;
                top: 12%;
                border-radius: 50%;
                background-image: url(./../assets/avatar.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
           
            .name {
                font-size: 10px;
                color: white;
                position: relative;
                left: 35%;
                display: block;
                top: -15px;
            }
            .status {
                font-size: 5px;
                color: white;
                display: block;
                position: relative;
                left: 35%;
                top: -14px;
            }
            .settings {
                height: 10px;
                width: 2px;
                //background-color: white;
                position: relative;
                left: 86%;
                top: -30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .point {
                    width: 100%;
                    height: 2px;
                    background-color: white;
                    border-radius: 50%;
                }
            }

           }
       
       }
       
       .sidetext {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;   
        @media screen and (max-width: $mobileWidth) {
            justify-content: center;
            align-items: center;
            padding: 0 10px;
            text-align: center;
        }

          
        .title {

               font-size: 35px;
               font-weight: 600;
               color: $veryDarkDesaturatedViolet;
               margin-bottom: 30px;
               
           }
       
           .text {
               color: $darkGrayishViolet; 
               max-width: 550px;
               line-height: 1.6;
           }
       
       

       
     }

}

